API_ID=
API_HASH=
BOT_TOKEN=
LOGGER_ID=
MONGO_DB_URI=
OWNER_ID=
OWNER_USERNAME=
BOT_NAME=MADARA MUSIC
BOT_USERNAME=MadaraMusicBot
STRING_SESSION=
STRING_SESSION2=
STRING_SESSION3=
STRING_SESSION4=
STRING_SESSION5=
SUPPORT_CHANNEL=https://t.me/YourChannel
SUPPORT_CHAT=https://t.me/YourChat
UPSTREAM_REPO=https://github.com/yourusername/MADARA-MUSIC
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
